<!-- 引入样式文件 -->
<%- css('css/about') %>
<div class="about">
    <div class="about-content">
        <img src="<%= url_for(page.path.replace('index.html', '') + page.top_img) %>" alt="封面图片" class="top_img" />
        <div><%- page.content %></div>
    </div>
</div>