<!-- 引入样式文件 -->
<%- css('css/about') %>
<div class="about">
    <div class="about-content">
        <img src="/author.jpeg" alt=""  class="top_img">
        <div><%- page.content %></div>
    </div>
</div>